version: '3.8'

services:
  app:
    build:
      dockerfile: adianti_debian12_php8.2.Dockerfile
      context: .
    image: cnpj-app:local
    container_name: cnpj_app_local
    restart: unless-stopped
    ports:
      - "8081:80"
      - "9003:9003"
    environment:
      - TIMEZONE=America/Sao_Paulo
    volumes:
      - ./php.ini:/etc/php/8.2/apache2/php.ini:ro
      - ./php-custom.ini:/etc/php/8.2/cli/conf.d/99-custom.ini:ro
      - ./php-custom.ini:/etc/php/8.2/apache2/conf.d/99-custom.ini:ro
      - ./www:/var/www/html:rw
      - ./log_apache:/var/log/apache2:rw
      - ./extracted_files:/var/opt/dados_receita/extracted_files:rw
    networks:
      - TarugaNetwork

networks:
  TarugaNetwork:
    external: true
